@import "tailwindcss";

@theme {
  --color-primary: #06b6d4;
}

body {
  @apply bg-[#0a0a0a] text-gray-100 antialiased selection:bg-cyan-500/30;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-[#0d0d0d] rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
}
